.bg-dark {
  background-color: #0a0a0a !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 35%;
  padding: 25%;
}

@media (max-width: 768px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 3vw;
  }
}

@media (max-width: 480px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 4vw;
  }
}

.animated-carousel {
  transition: height 0.5s ease;
  overflow: hidden;
}
